@import 'partials/color';

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* preloder start */
#preloder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/preloder.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    display: block;
    z-index: 9999;
}
/* preloder end */


/* navbar section start */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $secondary_color;
    z-index: 9990;
    width: 100%;
    .navbar-brand {
        font-size: 28px;
        font-weight: 700;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 15px;
                margin: 0 7px;
                line-height: 24px;
                transition: all 0.5s;
                font-weight: 500;
                &:hover {
                    color: $primary_color;
                }
            }
        }
    }
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: $primary_color;
}
/* navbar section end */


/* rotate start */
.rotate {
    position: fixed;
    top: 200px;
    left: 0;
    z-index: 9900;
    a {
        background: none repeat scroll 0 0 #2b2424;
        box-shadow: 2px 2px 0 0 rgb(0 0 0 / 8%);
        display: block;
        height: 41px;
        width: 40px;
        padding: 9px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        i {
            font-size: 20px;
            color: $secondary_color;
            -webkit-animation: rotation 2s infinite linear;
        }
    }
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
/* rotate start */


/* banner section start */
.banner_section {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    .banner_overlay {
        background-color: rgba(0, 0, 0, 0.69);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        .banner_element {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .banner_content {
                color: $secondary_color;
                width: 700px;
                h4 {
                    font-size: 28px;
                }
                h1 {
                    font-size: 54px;
                    font-weight: 700;
                    margin: 12px 0px 20px;
                }
                p {
                    text-align: center;
                    padding: 0px 100px;
                    line-height: 25px;
                    color: rgba(255, 255, 255, 0.75);
                }
                .btn {
                    display: inline-block;
                    padding: 15px 32px;
                    font-size: 14px;
                    font-weight: 700;
                    transition: all 0.5s;
                    letter-spacing: 0.6px;
                    border: 1px solid $secondary_color;
                    color: $secondary_color;
                    border-radius: 30px;
                    text-transform: uppercase;
                    margin-top: 22px;
                    transition: all 0.5s;
                    &:hover {
                        background: $secondary_color;
                        color: #000;
                    }
                }
            }
            .scroll_down {
                position: absolute;
                bottom: 38px;
                width: 100%;
                text-align: center;
                color: $secondary_color;
                font-size: 13px;
                z-index: 1;
                a {
                    text-decoration: none ;
                }
                i {
                    position: relative;
                    -webkit-animation: bounce 2s infinite;
                    animation: bounce 2s infinite;
                    height: 44px;
                    width: 28px;
                    line-height: 54px;
                    border-radius: 30px;
                    border: 2px solid $secondary_color;
                    display: inline-block;
                    font-size: 10px;
                    &::after {
                        content: "";
                        position: absolute;
                        top: 22px;
                        left: 11px;
                        border-radius: 2px;
                        z-index: -1;
                        bottom: 0px;
                        transition: all .2s;
                        height: 10px;
                        width: 3px;
                        background: $secondary_color;
                    }
                }
            }
            
            @-webkit-keyframes bounce {
                0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
                40% {-webkit-transform: translateY(-30px);}
                60% {-webkit-transform: translateY(-15px);}
            }
            
            @-moz-keyframes bounce {
                0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
                40% {-moz-transform: translateY(-30px);}
                60% {-moz-transform: translateY(-15px);}
            }
            
            @-o-keyframes bounce {
                0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
                40% {-o-transform: translateY(-30px);}
                60% {-o-transform: translateY(-15px);}
            }
            @keyframes bounce {
                0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
                40% {transform: translateY(-30px);}
                60% {transform: translateY(-15px);}
            }
        }
        
    }
}
@media screen and (max-width: 992px) {
    .banner_section {
        .banner_overlay {
            .banner_element {
                .banner_content {
                    h1 {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .banner_section {
        .banner_overlay {
            .banner_element {
                .banner_content {
                    h1 {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
/* banner section end */


/* about section start */
.about_section {
    margin-top: 150px;
    .about_image {
        padding: 5px;
        background-color: $secondary_color;
        border: 1px solid #dee2e6;
        border-radius: 5px;
        max-height: 435px;
        height: 100%;
        img {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    .about_content {
        h2 {
            font-size: 32px;
            span {
                font-weight: 700;
            }
        }
        h4 {
            font-size: 32px;
            margin: 24px 0px 16px;
            span {
                color: $primary_color;
            }
        }
        p {
            color: #6c757d;
            margin-top: 24px;
        }
        .about_social_link {
            margin-top: 30px;
            ul {
                list-style-type: none;
                li {
                    display: inline-block;
                    margin-right: 8px;
                    a {
                        color: #000;
                        display: inline-block;
                        height: 42px;
                        width: 42px;
                        font-size: 20px;
                        border-radius: 50%;
                        border: 2px solid #d4d4d4;
                        line-height: 38px;
                        transition: all 0.5s;
                        text-align: center;
                        &:hover {
                            border-color: #e65f78;
                            color: #e65f78;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .about_section {
        .about_content {
            h2 {
                font-size: 28px;
            }
            h4 {
                font-size: 26px;
                margin: 15px 0px;
            }
            p {
                margin-top: 0px;
            }
            .about_social_link {
                margin-top: 0px;
            }
        }
    }
}
/* about section end */


/* service section start */
.service_section {
    margin-top: 150px;
    .service_content {
        .service_element {
            border: 1px solid #e8e8e8;
            padding: 24px;
            margin-top: 24px;
            text-align: center;
            i {
                font-size: 44px;
                font-weight: 100;
                color: $primary_color;
            }
            h5 {
                margin: 24px 0px;
                font-weight: 600;
            }
            span {
                display: block;
                height: 2px;
                width: 40px;
                margin: 15px auto;
                transition: all 0.5s;
                background: $primary_color;
            }
            p {
                color: #6c757d;
            }
            &:hover {
                span {
                    width: 60px;
                }
            }
        }
    }
}
/* service section end */

/* header section end */
.header {
        text-align: center;
        margin-bottom: 70px;
        h2 {
            font-size: 32px;
            letter-spacing: 1px;
            span {
                font-weight: 700;
            }
        }
        p {
            max-width: 500px;
            margin: 15px auto;
            color: #6c757d;
        }
    }
/* header section end */


/* freelancer section start */
.freelancer_section {
    margin-top: 150px;
    .freelancer_content {
        text-align: center;
        h2 {
            font-size: 32px;
        }
        .btn {
            padding: 15px 32px;
            margin-top: 20px;
            background-color: $primary_color;
            font-size: 14px;
            font-weight: 700;
            transition: all 0.5s;
            letter-spacing: 0.6px;
            color: $secondary_color;
            text-transform: uppercase;
            transition: all 0.5s;
            &:hover {
                background-color: #d8576f;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .freelancer_section {
        .freelancer_content {
            h2 {
                font-size: 24px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .freelancer_section {
        .freelancer_content {
            h2 {
                font-size: 20px;
            }
        }
    }
}
/* freelancer section end */


/* client section start */
.client_section {
    margin-top: 150px;
    .client_element {
        .client_content {
            text-align: center;
            i {
                display: block;
                font-size: 50px;
                color: $primary_color;
            }
            .client_image {
                padding: 5px;
                background-color: $secondary_color;
                border: 1px solid #dee2e6;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                margin: 20px auto;
                img {
                    display: block;
                    border-radius: 50%;
                }
            }
            p {
                font-style: italic;
                font-size: 18px;
                color: #6c757d;
                max-width: 710px;
                width: 100%;
                line-height: 25px;
                margin: 0 auto;
                padding-bottom: 20px;
            }
            .text {
                font-style: normal;
                font-size: 16px;
                span {
                    color: #000;
                    font-weight: 700;
                }
            }
        }
        .swiper-pagination-bullet {
            width: 21px;
            height: 6px;
            background-color: #e65f78;
            border-radius: 20px;
        }
        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: -5px;
        }
    }
}
/* client section end */


/* work section start */
.work_section {
    margin-top: 150px;
    .work_content {
        .button-group  {
            text-align: center;
            padding: 2px 15px;
            .button {
                cursor: pointer;
                display: inline-block;
                padding: 10px 15px;
                margin-right: 8px;
                font-weight: 600;
                line-height: 16px;
                text-transform: uppercase;
                color: #000;
                margin-bottom: 5px;
                transition: all .3s;
                background: none;
                border-radius: 30px;
                border: 0;
                outline: 0;
                &:hover {
                    color: $secondary_color;
                    background: $primary_color;
                }
            }
            .button:active,
            .button.is-checked {
                color: $secondary_color;
                background: $primary_color;
            }
        }
        .work_element {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .work_item {
                max-width: 340px;
                width: 100%;
                position: relative;
                text-align: center;
                margin: 30px 30px 0px 0px;
                .work_image {
                    img {
                        width: 100%;
                    }
                }
                .image_overleaf {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background: #529acd75;
                    transition: all 0.4s;
                    a {
                        color: rgba(255, 255, 255, 0.6);
                        margin: 0 2px;
                        font-size: 28px;
                        text-decoration: none;
                        display: inline-block;
                        transition: all 0.4s;
                        p {
                            color: $secondary_color;;
                            font-size: 14px;
                        }
                        h4 {
                            font-size: 20px;
                            color: $secondary_color;
                            font-weight: 600;
                        }
                    }
                }
                &:hover {
                    .image_overleaf {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
/* work section end */


/* blog section start */
.blog_section {
    margin-top: 150px;
    .blog_element {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .blog_content {
            max-width: 350px;
            width: 100%;
            padding: 40px 20px;
            margin: 30px 30px 30px 0px;
            .blog_content_image {
                img {
                    border-radius: 5px;
                }
            }
            h5 {
                margin-top: 10px;
                font-size: 22px;
                font-weight: 700;
                a {
                    color: #000;
                }
            }
            h6 {
                font-size: 16px;
                font-weight: 400;
                margin: 20px 0px;
                color: #6c757d;
                a {
                    color: $primary_color;
                }
            }
            p {
                color: #6c757d;
            }
            a {
                color: #6c757d;
                font-weight: 700;
                text-decoration: none;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
/* blog section end */


/* contact section start */
.contact_section {
    margin-top: 150px;
    .contact_element {
        text-align: center;
        margin-bottom: 30px;
        i {
            font-size: 50px;
            color: $primary_color;
        }
        h5 {
            font-size: 18px;
            margin: 15px 0px 0px;
            letter-spacing: 1px;
        }
        p {
            color: #6c757d;
        }
        a {
            color: #6c757d;
            text-decoration: none;
        }
    }
    form {
        .form-group {
            input {
                padding: 10px;
            }
        }
        .button {
            text-align: right;
            .btn {
                background-color: $primary_color;
                padding: 15px 32px;
                font-size: 14px;
                font-weight: 700;
                transition: all 0.5s;
                letter-spacing: 0.6px;
                color: $secondary_color;
                text-transform: uppercase;
                &:hover {
                    background-color: #d8576f;
                }
            }
        }
        .form-control:focus {
            border-color: $primary_color;
            box-shadow:none;
        }
    }
}
/* contact section end */


/* footer section start */
footer {
    margin-top: 150px;
    padding: 70px 0px;
    background: #242424;
    .footer_element {
        text-align: center;
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                margin-left: 8px;
                a {
                    border-radius: 50%;
                    background-color: rgba(241, 241, 241, 0.08);
                    width: 42px;
                    height: 42px;
                    display: block;
                    font-size: 18px;
                    line-height: 42px;
                    i {
                        color: #6c757d;
                        transition: all 0.5s;
                    }
                    &:hover {
                        i {
                            color: #8e9296;
                        }
                    }
                }
            }
        }
        p {
            color: #6c757d;
        }
    }
}
/* footer section end */

/* back to top section */
.back_to_top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
    background: $primary_color;
    color: $secondary_color;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
    display: none;
    &:hover {
        background-color: #d8576f;
        color: $secondary_color;
    }
    i {
        line-height: 38px;
    }
}